.note{
    display: grid;
    place-items: center;
    height: 40vh;
    background-color:rgb(125, 125, 165);
    
}

.fir{
    margin-bottom: 10px;
}

.sec{
    margin-bottom: 10px;
}

.fir > input{
    background-color:rgb(125, 125, 165);
    border: none;
    color: black;
}
.sec > textarea{
    background-color:rgb(125, 125, 165);
    border: none;
    color: black;
}

.note__content > button{
    margin-left: 20px;
}