.note{
    display: grid;
    place-items: center;
    height: 40vh;
    background-color:rgb(125, 125, 165);
}
.note__content > button{
    align-items: center;
}
.fir{
    margin-bottom: 10px;
}

.sec{
    margin-bottom: 10px;
}